* {
    box-sizing: border-box;
}

body {
    display: flex;
    margin: 0px;
    padding: 0px;
    justify-content: center;
    align-items: center;
}

.calculator {
    height: 605px;
    width: 400px;
    background-color: rgb(29, 29, 29, 0.9);
    padding: 20px;
    margin-top: 100px;
}

.display-container {
    display: flex;
    padding-bottom: 10px;
}

.display {
    flex: 1;
    height: 100px;
    text-align: end;
    font-size: 34px;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}

button {
    height: 89px;
    width: 89px;
    border-radius: 10px;
    font-size: 24px;
    font-weight: bold;
    border: none;
    margin: 0.5px;
    background-color: rgb(237, 237, 237);
}



#zero,
#equal {
    width: 178px;
}

#equal {
    background-color: rgb(81, 158, 81);
}

.operator {
    background-color: rgb(92, 179, 92);
}

.specialKey {
    background-color: rgb(215, 215, 215);
}